# MongoDB Configuration
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=password123
MONGO_DATABASE=photo-hunt
MONGO_APP_USER=appuser
MONGO_APP_PASSWORD=apppassword

# Score Service Configuration
SCORE_SERVICE_PORT=3000
SCORE_SERVICE_INTERNAL_PORT=12345

# RabbitMQ Configuration (voor later gebruik)
AMQP_URL=amqp://guest:guest@rabbitmq:5672

# Application Configuration
NODE_ENV=development 